.side-menu-submenu-active {
  color: #4e73df;
  font-weight: 700;
}

.side-menu-dashboard-link {
  font-weight: 700;
}

.active-sidebar-top-drawer {
  font-weight: 700;
}

.area-chart {
  width: 623px !important;
  height: 320px !important;
}
